---
import GameWindowComponent from "../components/GameWindowComponent";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class:list="m-auto flex content-center w-fit justify-center">

        <GameWindowComponent width={160} client:load/>

    </div>
</Layout>